-ai-agent-chatbot-long-term-memory-note-storage-telegram-199xe2.json
{
  "workflow": {
    "id": "QJZLBn9L6NbmjmLK",
    "meta": {
      "instanceId": "31e69f7f4a77bf465b805824e303232f0227212ae922d12133a0f96ffeab4fef"
    },
    "name": "\ud83e\udd16\ud83e\udde0 AI Agent Chatbot + LONG TERM Memory + Note Storage + Telegram",
    "tags": [],
    "nodes": [
      {
        "id": "20a2d959-5412-447b-a2c4-7736b6b758b3",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "position": [
          -320,
          1600
        ],
        "webhookId": "8ba8fa53-2c24-47a8-b4dd-67b88c106e3d",
        "parameters": {
          "options": {}
        },
        "typeVersion": 1.1
      },
      {
        "id": "de79c268-bac5-48ff-be4d-18f522861c22",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -100,
          1280
        ],
        "parameters": {
          "color": 4,
          "width": 340,
          "height": 380,
          "content": "## Retrieve Long Term Memories\nGoogle Docs"
        },
        "typeVersion": 1
      },
      {
        "id": "000a94d1-57ce-4eec-a021-9123685d22bf",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1040,
          1840
        ],
        "parameters": {
          "width": 280,
          "height": 380,
          "content": "## Save To Current Chat Memory (Optional)"
        },
        "typeVersion": 1
      },
      {
        "id": "1bf1cade-bb3e-450a-a531-9add259069df",
        "name": "Sticky Note9",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1360,
          1840
        ],
        "parameters": {
          "color": 4,
          "width": 280,
          "height": 380,
          "content": "## Save Long Term Memories\nGoogle Docs"
        },
        "typeVersion": 1
      },
      {
        "id": "8b30f207-8204-4548-8f51-38c387d98ae9",
        "name": "gpt-4o-mini",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          820,
          1900
        ],
        "parameters": {
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "jEMSvKmtYfzAkhe6",
            "name": "OpenAi account"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "50271e59-6dd2-4f54-9b28-dd4a9f33ddc5",
        "name": "Chat Response",
        "type": "n8n-nodes-base.set",
        "position": [
          1440,
          1600
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "d6f68b1c-a6a6-44d4-8686-dc4dcdde4767",
                "name": "output",
                "type": "string",
                "value": "={{ $json.output }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "1064a2bf-bf74-44cd-ba8a-48f93700e887",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          1140,
          2000
        ],
        "parameters": {
          "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
          "sessionIdType": "customKey",
          "contextWindowLength": 50
        },
        "typeVersion": 1.3
      },
      {
        "id": "280fe3b1-faca-41b6-be0e-2ab906cd1662",
        "name": "Save Long Term Memories",
        "type": "n8n-nodes-base.googleDocsTool",
        "position": [
          1460,
          2000
        ],
        "parameters": {
          "actionsUi": {
            "actionFields": [
              {
                "text": "={ \n  \"memory\": \"{{ $fromAI('memory') }}\",\n  \"date\": \"{{ $now }}\"\n}",
                "action": "insert"
              }
            ]
          },
          "operation": "update",
          "documentURL": "[Google Doc ID]",
          "descriptionType": "manual",
          "toolDescription": "Save Memory"
        },
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "YWEHuG28zOt532MQ",
            "name": "Google Docs account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "37baa147-120a-40a8-b92f-df319fc4bc46",
        "name": "Retrieve Long Term Memories",
        "type": "n8n-nodes-base.googleDocs",
        "position": [
          20,
          1420
        ],
        "parameters": {
          "operation": "get",
          "documentURL": "[Google Doc ID]"
        },
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "YWEHuG28zOt532MQ",
            "name": "Google Docs account"
          }
        },
        "typeVersion": 2,
        "alwaysOutputData": true
      },
      {
        "id": "b047a271-d2aa-4a26-b663-6a76d249824a",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          720,
          1840
        ],
        "parameters": {
          "color": 3,
          "width": 280,
          "height": 380,
          "content": "## LLM"
        },
        "typeVersion": 1
      },
      {
        "id": "15bb5fd5-7dfe-4da9-830c-e1d905831640",
        "name": "Telegram Response",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1440,
          1260
        ],
        "parameters": {
          "text": "={{ $json.output }}",
          "chatId": "=1234567891",
          "additionalFields": {
            "parse_mode": "HTML",
            "appendAttribution": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "pAIFhguJlkO3c7aQ",
            "name": "Telegram account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "8cc38a87-e214-4193-9fe6-ba4adc3d5530",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1360,
          1160
        ],
        "parameters": {
          "width": 260,
          "height": 300,
          "content": "## Telegram \n(Optional)"
        },
        "typeVersion": 1
      },
      {
        "id": "38121a81-d768-4bb0-a9e6-39de0906e026",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          680,
          1500
        ],
        "parameters": {
          "color": 5,
          "width": 1320,
          "height": 780,
          "content": "## AI AGENT with Long Term Memory & Note Storage"
        },
        "typeVersion": 1
      },
      {
        "id": "7d5d1466-b4c9-4055-a634-ea7025dc370a",
        "name": "DeepSeek-V3  Chat",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          820,
          2060
        ],
        "parameters": {
          "model": "=deepseek-chat",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "MSl7SdcvZe0SqCYI",
            "name": "deepseek"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "68303b67-2203-41e8-b370-220d884d2945",
        "name": "AI Tools Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          1060,
          1600
        ],
        "parameters": {
          "text": "={{ $('When chat message received').item.json.chatInput }}",
          "options": {
            "systemMessage": "=## ROLE  \nYou are a friendly, attentive, and helpful AI assistant. Your primary goal is to assist the user while maintaining a personalized and engaging interaction.  \n\n---\n\n## RULES  \n\n1. **Memory Management**:  \n   - When the user sends a new message, evaluate whether it contains noteworthy or personal information (e.g., preferences, habits, goals, or important events).  \n   - If such information is identified, use the **Save Memory** tool to store this data in memory.  \n   - Always send a meaningful response back to the user, even if your primary action was saving information. This response should not reveal that information was stored but should acknowledge or engage with the user\u2019s input naturally.  \n\n2. **Note Management**:  \n   - If the user provides information that is intended to be stored as a note (e.g., specific instructions, reminders, or standalone pieces of information), use the **Save Note** tool.  \n   - Notes should not be stored in memory using the **Save Memory** tool.  \n   - Ensure that notes are clear, concise, and accurately reflect the user\u2019s input.  \n\n3. **Context Awareness**:  \n   - Use stored memories and notes to provide contextually relevant and personalized responses.  \n   - Always consider the **date and time** when a memory or note was collected to ensure your responses are up-to-date and accurate.\n\n4. **User-Centric Responses**:  \n   - Tailor your responses based on the user's preferences and past interactions.  \n   - Be proactive in recalling relevant details from memory or notes when appropriate but avoid overwhelming the user with unnecessary information.\n\n5. **Privacy and Sensitivity**:  \n   - Handle all user data with care and sensitivity. Avoid making assumptions or sharing stored information unless it directly enhances the conversation or task at hand.\n   - Never store passwords or usernames.\n\n6. **Fallback Responses**:  \n   - **IMPORTANT** If no specific task or question arises from the user\u2019s message (e.g., when only saving information), respond in a way that keeps the conversation flowing naturally. For example:  \n     - Acknowledge their input: \u201cThanks for sharing that!\u201d  \n     - Provide a friendly follow-up: \u201cIs there anything else I can help you with today?\u201d  \n   - DO NOT tell jokes as a fallback response.\n\n---\n\n## TOOLS  \n\n### Save Memory  \n- Use this tool to store summarized, concise, and meaningful information about the user.  \n- Extract key details from user messages that could enhance future interactions (e.g., likes/dislikes, important dates, hobbies).  \n- Ensure that the summary is clear and devoid of unnecessary details.\n\n### Save Note  \n- Use this tool to store specific instructions, reminders, or standalone pieces of information provided by the user.  \n- Notes should not include general personal preferences or habits meant for long-term memory storage.  \n- Ensure that notes are concise and accurately reflect what the user wants to store.\n\n---\n\n## MEMORIES  \n\n### Recent Noteworthy Memories  \nHere are the most recent memories collected from the user, including their date and time of collection:  \n\n**{{ $json.data[0].content }}**\n\n### Guidelines for Using Memories:  \n- Prioritize recent memories but do not disregard older ones if they remain relevant.  \n- Cross-reference memories to maintain consistency in your responses. For example, if a user shares conflicting preferences over time, clarify or adapt accordingly.\n\n---\n\n## NOTES  \n\n### Recent Notes Collected from User:  \nHere are the most recent notes collected from the user:  \n\n**{{ $json.data[1].content }}**\n\n### Guidelines for Using Notes:  \n- Use notes for tasks requiring specific instructions or reminders.\n- Do not mix note content with general memory content; keep them distinct.\n\n---\n\n## ADDITIONAL INSTRUCTIONS  \n\n- Think critically before responding to ensure your answers are thoughtful and accurate.  \n- Strive to build trust with the user by being consistent, reliable, and personable in your interactions.  \n- Avoid robotic or overly formal language; aim for a conversational tone that aligns with being \"friendly and helpful.\"  \n"
          },
          "promptType": "define"
        },
        "typeVersion": 1.7,
        "alwaysOutputData": false
      },
      {
        "id": "a6741133-93a1-42f8-83b4-bc29b9f49ae2",
        "name": "Sticky Note10",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1680,
          1840
        ],
        "parameters": {
          "color": 4,
          "width": 280,
          "height": 380,
          "content": "## Save Notes\nGoogle Docs"
        },
        "typeVersion": 1
      },
      {
        "id": "87c88d31-811d-4265-b44e-ab30a45ff88b",
        "name": "Save Notes",
        "type": "n8n-nodes-base.googleDocsTool",
        "position": [
          1780,
          2000
        ],
        "parameters": {
          "actionsUi": {
            "actionFields": [
              {
                "text": "={ \n  \"note\": \"{{ $fromAI('memory') }}\",\n  \"date\": \"{{ $now }}\"\n}",
                "action": "insert"
              }
            ]
          },
          "operation": "update",
          "documentURL": "[Google Doc ID]",
          "descriptionType": "manual",
          "toolDescription": "Save Notes"
        },
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "YWEHuG28zOt532MQ",
            "name": "Google Docs account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "b9b97837-d6f2-4cef-89c4-9301973015df",
        "name": "Sticky Note11",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -100,
          1680
        ],
        "parameters": {
          "color": 4,
          "width": 340,
          "height": 380,
          "content": "## Retrieve Notes\nGoogle Docs"
        },
        "typeVersion": 1
      },
      {
        "id": "0002a227-4240-4d3c-9a45-fc6e23fdc7f5",
        "name": "Retrieve Notes",
        "type": "n8n-nodes-base.googleDocs",
        "onError": "continueRegularOutput",
        "position": [
          20,
          1820
        ],
        "parameters": {
          "operation": "get",
          "documentURL": "[Google Doc ID]"
        },
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "YWEHuG28zOt532MQ",
            "name": "Google Docs account"
          }
        },
        "typeVersion": 2,
        "alwaysOutputData": true
      },
      {
        "id": "88f7024c-87d4-48b4-b6bb-f68c88202f56",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          520,
          1600
        ],
        "parameters": {
          "options": {},
          "aggregate": "aggregateAllItemData"
        },
        "typeVersion": 1
      },
      {
        "id": "48d576fc-870a-441e-a7be-3056ef7e1d7a",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          340,
          1600
        ],
        "parameters": {},
        "typeVersion": 3
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "timezone": "America/Vancouver",
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1"
    },
    "versionId": "8130e77c-ecbd-470e-afec-ec8728643e00",
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "AI Tools Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Notes": {
        "ai_tool": [
          [
            {
              "node": "AI Tools Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "gpt-4o-mini": {
        "ai_languageModel": [
          [
            {
              "node": "AI Tools Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Tools Agent": {
        "main": [
          [
            {
              "node": "Telegram Response",
              "type": "main",
              "index": 0
            },
            {
              "node": "Chat Response",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Retrieve Notes": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "DeepSeek-V3  Chat": {
        "ai_languageModel": [
          []
        ]
      },
      "Telegram Response": {
        "main": [
          []
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Tools Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Save Long Term Memories": {
        "ai_tool": [
          [
            {
              "node": "AI Tools Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Retrieve Long Term Memories",
              "type": "main",
              "index": 0
            },
            {
              "node": "Retrieve Notes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve Long Term Memories": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "metadata": {
    "original_file": "C:\\Users\\DELL\\n8n-workflow-scraper\\scraped-workflows\\workflows\\AI\\-ai-agent-chatbot-long-term-memory-note-storage-telegram-199xe2.json",
    "category": "AI",
    "category_confidence": 0.352993744414656,
    "quality_score": 45.0,
    "quality_tier": "bronze",
    "evaluated_at": "2025-10-02T01:12:51.359945",
    "evaluator": "grok-code-fast-1",
    "cost": 0.04772049999999999,
    "nodes_count": 21,
    "batch": 1
  },
  "evaluation": {
    "overall_score": 45.0,
    "confidence": 0.8,
    "quality_tier": "bronze",
    "dimensions": {
      "architecture": {
        "score": 50,
        "issues": [
          "Vertical architecture is used, but with 21 nodes, it may lead to a long, hard-to-follow chain.",
          "Excessive use of sticky notes (10 out of 21 nodes) clutters the workflow without adding functionality.",
          "Connections appear linear but lack branching for error handling or parallel processing."
        ],
        "strengths": [
          "Logical flow from chat trigger to AI processing and response.",
          "Integration of memory and note storage components."
        ],
        "recommendations": [
          "Reduce sticky notes and use proper node naming for clarity.",
          "Consider horizontal layout or grouping for better readability.",
          "Add conditional logic for better flow control."
        ]
      },
      "error_handling": {
        "score": 20,
        "issues": [
          "No visible error handling nodes (e.g., no Error Trigger or Try-Catch equivalents).",
          "Potential failures in AI calls, Google Docs access, or Telegram sending are not mitigated.",
          "No retry mechanisms for transient errors like API timeouts."
        ],
        "strengths": [
          "Basic flow assumes success, but lacks robustness."
        ],
        "recommendations": [
          "Add Error Trigger nodes after critical operations like AI calls and external API interactions.",
          "Implement retry logic using Loop nodes for failed requests.",
          "Use If nodes to handle error responses gracefully."
        ]
      },
      "security": {
        "score": 40,
        "issues": [
          "Credentials for OpenAI, Google Docs, and Telegram are assumed but not validated in the analysis.",
          "No input validation for chat messages, risking injection or malicious inputs.",
          "Potential exposure of sensitive data in logs or responses if not handled."
        ],
        "strengths": [
          "Uses authenticated services like OpenAI and Google Docs."
        ],
        "recommendations": [
          "Ensure credentials are stored securely and rotated regularly.",
          "Add input sanitization using Code nodes to validate and clean user inputs.",
          "Implement rate limiting to prevent abuse."
        ]
      },
      "performance": {
        "score": 50,
        "issues": [
          "Multiple AI model calls (gpt-4o-mini and DeepSeek-V3) without caching, potentially slow.",
          "Google Docs operations for memory and notes may be inefficient for frequent access.",
          "No optimization for concurrent processing."
        ],
        "strengths": [
          "Window Buffer Memory helps limit context size.",
          "Aggregate and Merge nodes suggest some data consolidation."
        ],
        "recommendations": [
          "Implement caching for AI responses using Redis or similar.",
          "Optimize Google Docs access by batching reads/writes.",
          "Use parallel execution where possible with Split In Batches."
        ]
      },
      "maintainability": {
        "score": 30,
        "issues": [
          "Node names like 'Sticky Note7', 'Sticky Note8' are non-descriptive.",
          "Many sticky notes make the workflow cluttered and hard to navigate.",
          "Parameters not detailed, but generic names suggest poor configuration clarity."
        ],
        "strengths": [
          "Functional nodes have somewhat descriptive names like 'Save Long Term Memories'."
        ],
        "recommendations": [
          "Rename all nodes with clear, descriptive names (e.g., 'Process User Input').",
          "Remove unnecessary sticky notes and use comments in nodes instead.",
          "Document node purposes in descriptions."
        ]
      },
      "best_practices": {
        "score": 40,
        "issues": [
          "Overuse of sticky notes instead of proper workflow structuring.",
          "No adherence to N8N best practices like using Webhooks for triggers or proper data mapping.",
          "Potential misuse of Google Docs for storage instead of databases."
        ],
        "strengths": [
          "Uses Langchain nodes appropriately for AI and memory."
        ],
        "recommendations": [
          "Follow N8N guidelines for node connections and data flow.",
          "Consider using databases like PostgreSQL for memory and notes instead of Google Docs.",
          "Apply optimization tips like minimizing node count."
        ]
      },
      "scalability": {
        "score": 45,
        "issues": [
          "Linear flow may not handle high-volume chats efficiently.",
          "Google Docs as storage could bottleneck with increased usage.",
          "No load balancing or queuing for multiple concurrent users."
        ],
        "strengths": [
          "Memory buffering helps manage context for scalability."
        ],
        "recommendations": [
          "Implement queuing with RabbitMQ or similar for message handling.",
          "Switch to scalable storage like databases or cloud services.",
          "Add horizontal scaling by splitting workflows."
        ]
      },
      "innovation": {
        "score": 60,
        "issues": [
          "Combines AI agents with long-term memory and note storage, which is creative but not highly innovative.",
          "Uses multiple AI models, but integration could be more advanced."
        ],
        "strengths": [
          "Integrates Telegram chatbot with AI memory and external storage.",
          "Agent-based approach with tools shows some innovative use of Langchain."
        ],
        "recommendations": [
          "Explore advanced features like multi-agent collaboration or custom tools.",
          "Incorporate emerging AI techniques for better memory retention."
        ]
      }
    },
    "auto_fix_suggestions": [
      {
        "type": "error_handling",
        "priority": "high",
        "description": "Add error handling after AI model calls to catch API failures.",
        "node_id": "gpt-4o-mini",
        "fix_details": {
          "action": "Insert Error Trigger node connected to a retry loop."
        }
      },
      {
        "type": "maintainability",
        "priority": "medium",
        "description": "Rename sticky notes to descriptive names or remove them.",
        "node_id": "Sticky Note7",
        "fix_details": {
          "action": "Delete unnecessary sticky notes and add comments to relevant nodes."
        }
      },
      {
        "type": "security",
        "priority": "critical",
        "description": "Add input validation for chat messages.",
        "node_id": "When chat message received",
        "fix_details": {
          "action": "Use a Code node to sanitize inputs before processing."
        }
      },
      {
        "type": "performance",
        "priority": "medium",
        "description": "Implement caching for AI responses.",
        "node_id": "gpt-4o-mini",
        "fix_details": {
          "action": "Add a Cache node before AI calls."
        }
      }
    ],
    "migration_recommendation": "improve_then_migrate",
    "estimated_improvement_time": "4-6 hours"
  }
}