agentic-telegram-ai-bot-with-with-langchain-nodes-and-new-tools-h4i09o.json
{
  "workflow": {
    "id": "U8EOTtZvmZPMYc6m",
    "meta": {
      "instanceId": "fb924c73af8f703905bc09c9ee8076f48c17b596ed05b18c0ff86915ef8a7c4a",
      "templateCredsSetupCompleted": true
    },
    "name": "Agentic Telegram AI bot with LangChain nodes and new tools",
    "tags": [],
    "nodes": [
      {
        "id": "13b3488e-af72-4d89-bef4-e9b895e3bf76",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          1640,
          580
        ],
        "parameters": {
          "model": "gpt-4o",
          "options": {
            "temperature": 0.7,
            "frequencyPenalty": 0.2
          }
        },
        "credentials": {
          "openAiApi": {
            "id": "rveqdSfp7pCRON1T",
            "name": "Ted's Tech Talks OpenAi"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "864937a1-43f6-4055-bdea-61ab07db9903",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          1760,
          580
        ],
        "parameters": {
          "sessionKey": "=chat_with_{{ $('Listen for incoming events').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "typeVersion": 1
      },
      {
        "id": "4ef838d4-feaa-4bd3-b2c7-ccd938be4373",
        "name": "Listen for incoming events",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          1580,
          360
        ],
        "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
        "parameters": {
          "updates": [
            "*"
          ],
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "9dexJXnlVPA6wt8K",
            "name": "Chat & Sound"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "fed51c41-2846-4a1a-a5f5-ce121ee7fe88",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1460,
          180
        ],
        "parameters": {
          "color": 7,
          "width": 926.3188190787038,
          "height": 553.452795998601,
          "content": "## Generate an image with Dall-E-3 and send it via Telegram"
        },
        "typeVersion": 1
      },
      {
        "id": "1c7a204b-3ed7-47bd-a434-202b05272d18",
        "name": "Send final reply",
        "type": "n8n-nodes-base.telegram",
        "onError": "continueErrorOutput",
        "position": [
          2140,
          360
        ],
        "parameters": {
          "text": "={{ $json.output }}",
          "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "9dexJXnlVPA6wt8K",
            "name": "Chat & Sound"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "bebbe9d4-47ba-4c13-9e1e-d36bfe6e472e",
        "name": "Send back an image",
        "type": "n8n-nodes-base.telegramTool",
        "position": [
          2020,
          580
        ],
        "parameters": {
          "file": "={{ $fromAI(\"url\", \"a valid url of an image\", \"string\", \" \") }}",
          "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
          "operation": "sendDocument",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "9dexJXnlVPA6wt8K",
            "name": "Chat & Sound"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "38f2410d-bd55-4ddf-8aaa-4e28919de78f",
        "name": "Generate image in Dalle",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "position": [
          1880,
          580
        ],
        "parameters": {
          "url": "https://api.openai.com/v1/images/generations",
          "method": "POST",
          "sendBody": true,
          "authentication": "predefinedCredentialType",
          "parametersBody": {
            "values": [
              {
                "name": "model",
                "value": "dall-e-3",
                "valueProvider": "fieldValue"
              },
              {
                "name": "prompt"
              }
            ]
          },
          "toolDescription": "Call this tool to request a Dall-E-3 model, when the user asks to draw something. If you g\u0435t a response from this tool, forward it to the Telegram tool.",
          "nodeCredentialType": "openAiApi"
        },
        "credentials": {
          "openAiApi": {
            "id": "rveqdSfp7pCRON1T",
            "name": "Ted's Tech Talks OpenAi"
          }
        },
        "typeVersion": 1.1
      },
      {
        "id": "34265eab-9f37-475a-a2ae-a6c37c69c595",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          1780,
          360
        ],
        "parameters": {
          "text": "={{ $json.message.text }}",
          "options": {
            "systemMessage": "=You are a helpful assistant. You are communicating with a user named {{ $json.message.from.first_name }}. Address the user by name every time. If the user asks for an image, always send the link to the image in the final reply."
          },
          "promptType": "define"
        },
        "typeVersion": 1.7
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "b36989c5-295a-4df6-84e9-776815509bc9",
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send final reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Send back an image": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Generate image in Dalle": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Listen for incoming events": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "metadata": {
    "original_file": "C:\\Users\\DELL\\n8n-workflow-scraper\\scraped-workflows\\workflows\\AI\\agentic-telegram-ai-bot-with-with-langchain-nodes-and-new-tools-h4i09o.json",
    "category": "AI",
    "category_confidence": 0.3724928366762178,
    "quality_score": 65.0,
    "quality_tier": "silver",
    "evaluated_at": "2025-10-02T01:46:28.675108",
    "evaluator": "grok-code-fast-1",
    "cost": 0.37180250000000004,
    "nodes_count": 8,
    "batch": 1
  },
  "evaluation": {
    "overall_score": 65.0,
    "confidence": 0.85,
    "quality_tier": "silver",
    "dimensions": {
      "architecture": {
        "score": 70,
        "issues": [
          "Vertical architecture is used, but with only 8 nodes, a horizontal layout might improve readability for sequential flows.",
          "Connections appear logical (trigger to agent to outputs), but without a diagram, it's hard to confirm no unnecessary loops or dead ends."
        ],
        "strengths": [
          "Clear flow from Telegram trigger to AI agent and back to Telegram outputs.",
          "Separation of concerns with distinct nodes for memory, model, and tools."
        ],
        "recommendations": [
          "Consider switching to a horizontal layout for better visualization in N8N editor.",
          "Add a router node if the agent needs to branch based on user input types."
        ]
      },
      "error_handling": {
        "score": 30,
        "issues": [
          "No error handling nodes (e.g., Error Trigger or Try-Catch) present in the workflow.",
          "No retry mechanisms for failed API calls to OpenAI or Telegram.",
          "Potential for unhandled errors in LangChain agent or HTTP requests."
        ],
        "strengths": [
          "Basic flow assumes success, which is simple for a prototype."
        ],
        "recommendations": [
          "Add an Error Trigger node to catch and log errors.",
          "Implement retry logic in HTTP Request and Telegram nodes.",
          "Use a Switch node to handle different error types gracefully."
        ]
      },
      "security": {
        "score": 50,
        "issues": [
          "No mention of input validation for user messages from Telegram.",
          "Credentials for OpenAI and Telegram are assumed configured, but no details on secure storage or rotation.",
          "Potential for prompt injection in AI Agent if user inputs are not sanitized."
        ],
        "strengths": [
          "Uses official N8N nodes for Telegram and OpenAI, which have built-in credential handling."
        ],
        "recommendations": [
          "Add input validation using a Function node to sanitize Telegram messages.",
          "Ensure credentials are stored securely and rotated periodically.",
          "Implement rate limiting to prevent abuse in Telegram Trigger."
        ]
      },
      "performance": {
        "score": 60,
        "issues": [
          "No caching mentioned for OpenAI responses or memory buffers.",
          "HTTP Request for DALL-E might be slow without optimization.",
          "Window Buffer Memory is used, but no details on buffer size tuning for performance."
        ],
        "strengths": [
          "LangChain nodes are generally optimized for AI tasks.",
          "Vertical flow minimizes unnecessary data passing."
        ],
        "recommendations": [
          "Enable caching in OpenAI Chat Model node for repeated queries.",
          "Tune Window Buffer Memory size to balance memory usage and performance.",
          "Use asynchronous execution if available in N8N for parallel processing."
        ]
      },
      "maintainability": {
        "score": 75,
        "issues": [
          "Node names are descriptive (e.g., 'Send final reply'), but some like 'Sticky Note' are generic.",
          "Parameters not detailed, assuming defaults are used without customization."
        ],
        "strengths": [
          "Clear node purposes based on names.",
          "Modular structure with separate nodes for different functions."
        ],
        "recommendations": [
          "Rename 'Sticky Note' to something more specific, like 'Workflow Notes'.",
          "Document parameters in node settings or add comments.",
          "Group related nodes into sub-workflows for better organization."
        ]
      },
      "best_practices": {
        "score": 55,
        "issues": [
          "Sticky Note is used, which is good for documentation, but ensure it's not overused.",
          "No version control or testing nodes mentioned.",
          "Agent node might not follow best practices for tool selection without constraints."
        ],
        "strengths": [
          "Uses LangChain integration properly for AI agent and tools.",
          "Telegram nodes are configured for bot interactions."
        ],
        "recommendations": [
          "Add a Test Workflow node for unit testing.",
          "Follow N8N best practices for node versioning and updates.",
          "Limit agent tools to necessary ones to avoid over-complexity."
        ]
      },
      "scalability": {
        "score": 50,
        "issues": [
          "Vertical architecture may not scale well for high-volume Telegram messages.",
          "No load balancing or queuing for concurrent users.",
          "Memory buffer might accumulate data, leading to memory issues at scale."
        ],
        "strengths": [
          "Simple structure can be easily replicated or containerized.",
          "LangChain supports scalable deployments."
        ],
        "recommendations": [
          "Implement queuing with a Queue node for incoming messages.",
          "Consider horizontal scaling by splitting into micro-workflows.",
          "Monitor memory usage and add cleanup for buffer memory."
        ]
      },
      "innovation": {
        "score": 80,
        "issues": [
          "Uses standard LangChain and Telegram nodes, but could innovate with custom tools.",
          "No advanced features like multi-modal agents or integrations."
        ],
        "strengths": [
          "Integrates AI agent with image generation tools, creating an interactive bot.",
          "Combines memory and chat models for conversational AI."
        ],
        "recommendations": [
          "Experiment with custom LangChain tools for unique functionalities.",
          "Add integrations with other APIs for more innovative responses.",
          "Incorporate feedback loops for agent learning."
        ]
      }
    },
    "auto_fix_suggestions": [
      {
        "type": "error_handling",
        "priority": "high",
        "description": "Add an Error Trigger node to catch and handle failures in the workflow.",
        "node_id": "AI Agent",
        "fix_details": {
          "steps": [
            "Insert an Error Trigger node connected to the AI Agent.",
            "Configure it to send notifications or retry on errors."
          ]
        }
      },
      {
        "type": "security",
        "priority": "medium",
        "description": "Implement input validation for Telegram messages to prevent injection attacks.",
        "node_id": "Listen for incoming events",
        "fix_details": {
          "steps": [
            "Add a Function node after the trigger to validate and sanitize inputs.",
            "Use regex or built-in functions to check message content."
          ]
        }
      },
      {
        "type": "performance",
        "priority": "medium",
        "description": "Enable caching in the OpenAI Chat Model to reduce API calls.",
        "node_id": "OpenAI Chat Model",
        "fix_details": {
          "steps": [
            "In node settings, enable response caching.",
            "Set appropriate cache TTL."
          ]
        }
      },
      {
        "type": "scalability",
        "priority": "high",
        "description": "Add a Queue node to handle high-volume incoming messages.",
        "node_id": "Listen for incoming events",
        "fix_details": {
          "steps": [
            "Insert a Queue node between trigger and agent.",
            "Configure concurrency limits."
          ]
        }
      }
    ],
    "migration_recommendation": "improve_then_migrate",
    "estimated_improvement_time": "4-6 hours"
  }
}