ai-agent-with-long-term-memory-tools-router-yrzfwo.json
{
  "workflow": {
    "id": "p7xESnT1xMZD2hRk",
    "meta": {
      "instanceId": "31e69f7f4a77bf465b805824e303232f0227212ae922d12133a0f96ffeab4fef",
      "templateCredsSetupCompleted": true
    },
    "name": "\ud83e\udde0 Give Your AI Agent Chatbot Long Term Memory Tools Router",
    "tags": [],
    "nodes": [
      {
        "id": "d5947a9d-bad4-4db7-8cdb-dc277928565a",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          320,
          -80
        ],
        "parameters": {
          "inputSource": "passthrough"
        },
        "typeVersion": 1.1
      },
      {
        "id": "c9e9715d-c691-4516-9e0c-cf393a18d814",
        "name": "Save Long Term Memories",
        "type": "n8n-nodes-base.googleDocs",
        "position": [
          1020,
          -80
        ],
        "parameters": {
          "actionsUi": {
            "actionFields": [
              {
                "text": "={\n  \"date\": \"{{ $now }}\",\n  \"memory\": \"{{ $json.query }}\"\n},\n",
                "action": "insert"
              }
            ]
          },
          "operation": "update",
          "documentURL": "1YFTbVGlnpdYF5FuA6grfyvzmcdjcPviClAqbJ5HJIlc"
        },
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "YWEHuG28zOt532MQ",
            "name": "Google Docs account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "306272bf-e264-4cfb-b8b6-8c0af1de3f14",
        "name": "Saved response",
        "type": "n8n-nodes-base.set",
        "position": [
          1200,
          -80
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "6b7e85d8-379b-4a0f-9799-9193a29f0447",
                "name": "response",
                "type": "string",
                "value": "Memory saved"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "152b6922-8600-4fdb-8372-3b0102a7b73a",
        "name": "Respond with long term memories",
        "type": "n8n-nodes-base.set",
        "position": [
          1200,
          220
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "6b7e85d8-379b-4a0f-9799-9193a29f0447",
                "name": "response",
                "type": "string",
                "value": "={{ $json.content }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "147ddd8d-6e42-44c0-95ca-9ab791f9452f",
        "name": "Retrieve Long Term Memories3",
        "type": "n8n-nodes-base.googleDocs",
        "position": [
          1020,
          900
        ],
        "parameters": {
          "operation": "get",
          "documentURL": "1YFTbVGlnpdYF5FuA6grfyvzmcdjcPviClAqbJ5HJIlc"
        },
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "YWEHuG28zOt532MQ",
            "name": "Google Docs account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "e3f1172b-ce33-4cce-8126-88e19afc53c6",
        "name": "Send Success Message to Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1540,
          520
        ],
        "webhookId": "3ba1ee6d-1648-4421-823b-e68ae14d769b",
        "parameters": {
          "text": "=n8n User Memories\n{{ $json.text }}",
          "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
          "additionalFields": {
            "parse_mode": "HTML",
            "appendAttribution": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "pAIFhguJlkO3c7aQ",
            "name": "Telegram account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "a77e8f01-889f-44b5-b4e1-493a97aa028c",
        "name": "Email Workflow Stats",
        "type": "n8n-nodes-base.gmail",
        "position": [
          1540,
          900
        ],
        "webhookId": "d9ef6f36-941f-4110-9b3e-9e54d9bc9581",
        "parameters": {
          "sendTo": "={{ $env.EMAIL_ADDRESS_JOE }}",
          "message": "={{ $json.text }}",
          "options": {
            "appendAttribution": false
          },
          "subject": "n8n User Memories"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "1xpVDEQ1yx8gV022",
            "name": "Gmail account"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "2481fe73-9ef8-4e95-b7e5-38634b55837c",
        "name": "OpenAI Chat Model2",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          1320,
          660
        ],
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "jEMSvKmtYfzAkhe6",
            "name": "OpenAi account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "9a45e091-c91c-4505-a8df-7a2e1d079200",
        "name": "OpenAI Chat Model3",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          1320,
          1040
        ],
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "jEMSvKmtYfzAkhe6",
            "name": "OpenAi account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "6d12369e-38de-44c1-b764-64d6d9a79a25",
        "name": "\ud83d\udce4Send Memories to Telegram",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          1360,
          -500
        ],
        "parameters": {
          "name": "send_memories_to_telegram",
          "fields": {
            "values": [
              {
                "name": "route",
                "stringValue": "=send_memories_to_telegram"
              }
            ]
          },
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "description": "Call this tool to send memories to Telegram",
          "jsonSchemaExample": ""
        },
        "typeVersion": 1.2
      },
      {
        "id": "f1d0b366-70d5-4da3-937b-ea08afd364e4",
        "name": "\ud83d\udcebSend Memories to Gmail",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          1620,
          -500
        ],
        "parameters": {
          "name": "send_memories_to_gmail",
          "fields": {
            "values": [
              {
                "name": "route",
                "stringValue": "=send_memories_to_gmail"
              }
            ]
          },
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "description": "Call this tool to send memories to Gmail",
          "jsonSchemaExample": ""
        },
        "typeVersion": 1.2
      },
      {
        "id": "25d99971-263a-44ef-abb0-b517743f72eb",
        "name": "\ud83e\udde0Save Memories",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          840,
          -500
        ],
        "parameters": {
          "name": "save_long_term_memory",
          "fields": {
            "values": [
              {
                "name": "route",
                "stringValue": "=save_memory"
              }
            ]
          },
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "description": "Call this tool to save long term memories",
          "jsonSchemaExample": ""
        },
        "typeVersion": 1.2
      },
      {
        "id": "0c9738d3-176a-4074-8340-ecfa3d9f9f7d",
        "name": "\ud83d\udd0eRetrieve Memories",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          1100,
          -500
        ],
        "parameters": {
          "name": "retrieve_long_term_memory",
          "fields": {
            "values": [
              {
                "name": "route",
                "stringValue": "=retrieve_memory"
              }
            ]
          },
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "description": "Call this tool to retrieve long term memories",
          "jsonSchemaExample": ""
        },
        "typeVersion": 1.2
      },
      {
        "id": "7967ec27-432e-4d35-b7e0-89eb84120754",
        "name": "\ud83e\udd2fWindow Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          520,
          -500
        ],
        "parameters": {
          "contextWindowLength": 10
        },
        "typeVersion": 1.3
      },
      {
        "id": "5f24781e-4f9a-4e33-8d33-ce281f7bcc46",
        "name": "\ud83e\udde0 AI Agent w/Long Term Memory",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          940,
          -920
        ],
        "parameters": {
          "options": {
            "systemMessage": "=You are a highly capable and intelligent assistant designed to assist users by leveraging tools for long-term memory, contextual understanding, and real-time information retrieval.  You have excellent long term memory.  The current date and time is {{ $now }}\n\n## TOOLS\n-save_long_term_memory\n-retrieve_long_term_memory\n-send_memories_to_gmail\n-send_memories_to_telegram\n\n## RULES\n- If you do not know the answer then consider checking the long term memories.\n\n\n\n\n\n"
          }
        },
        "typeVersion": 1.7
      },
      {
        "id": "ad644413-6587-415f-b7be-d58c05b94138",
        "name": "\ud83e\udd16OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          260,
          -500
        ],
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "jEMSvKmtYfzAkhe6",
            "name": "OpenAi account"
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "076b0856-5ba4-498e-b279-21cf042f7f07",
        "name": "\u24c2\ufe0f When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "position": [
          380,
          -920
        ],
        "webhookId": "2060403b-3fea-4fdf-a6d7-693bc477baaf",
        "parameters": {
          "options": {}
        },
        "typeVersion": 1.1
      },
      {
        "id": "fcf5872c-fcdc-445e-b095-f9cef14453b8",
        "name": "Prepare Telegram Message",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          1200,
          520
        ],
        "parameters": {
          "text": "=Format this content into a simple unformatted list that can be sent to Telegram: {{ $json.content }}.  Avoid any preamble or further explanation.",
          "promptType": "define"
        },
        "typeVersion": 1.5
      },
      {
        "id": "c1d05bb9-390b-43aa-820d-45115df07f5c",
        "name": "Prepare Gmail Message",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          1200,
          900
        ],
        "parameters": {
          "text": "=Format this content into a simple and modern HTML table that is max 800px wide that can be used as the content for an email: {{ $json.content }}.  Avoid any preamble or further explanation.  Remove all ``` and ```html from response.",
          "promptType": "define"
        },
        "typeVersion": 1.5
      },
      {
        "id": "98aa87af-8329-4af6-85da-fc97cb4ed9c3",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          760,
          -620
        ],
        "parameters": {
          "color": 4,
          "height": 280,
          "content": "## 1\ufe0f\u20e3 Save Memories"
        },
        "typeVersion": 1
      },
      {
        "id": "677f62ba-b009-48da-988e-e58d5063d005",
        "name": "Retrieve Long Term Memories",
        "type": "n8n-nodes-base.googleDocs",
        "position": [
          1020,
          220
        ],
        "parameters": {
          "operation": "get",
          "documentURL": "1YFTbVGlnpdYF5FuA6grfyvzmcdjcPviClAqbJ5HJIlc"
        },
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "YWEHuG28zOt532MQ",
            "name": "Google Docs account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "1c732f83-fb09-4a51-8aea-0f9d29d1cdfe",
        "name": "Memory Tool Router",
        "type": "n8n-nodes-base.switch",
        "position": [
          640,
          -100
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "outputKey": "1\ufe0f\u20e3 Save",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.route }}",
                      "rightValue": "save_memory"
                    }
                  ]
                },
                "renameOutput": true
              },
              {
                "outputKey": " 2\ufe0f\u20e3Retrieve ",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "86d44336-bab7-422f-9266-fcb513252d19",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.route }}",
                      "rightValue": "retrieve_memory"
                    }
                  ]
                },
                "renameOutput": true
              },
              {
                "outputKey": " 3\ufe0f\u20e3Telegram",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "29f37628-6381-46af-babb-74bf00b4a849",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.route }}",
                      "rightValue": "send_memories_to_telegram"
                    }
                  ]
                },
                "renameOutput": true
              },
              {
                "outputKey": "4\ufe0f\u20e3Gmail",
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "fdb7c8aa-4108-43f6-8f6b-71cd8f383d2a",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.route }}",
                      "rightValue": "send_memories_to_gmail"
                    }
                  ]
                },
                "renameOutput": true
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 3.2
      },
      {
        "id": "79de3862-b15a-4380-ab27-cfde66e8bb95",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1280,
          -620
        ],
        "parameters": {
          "color": 6,
          "height": 280,
          "content": "## 3\ufe0f\u20e3 Send Memories to Telegram"
        },
        "typeVersion": 1
      },
      {
        "id": "03df9947-9354-4f21-8b8a-fed130dcfc6a",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1540,
          -620
        ],
        "parameters": {
          "color": 6,
          "height": 280,
          "content": "## 4\ufe0f\u20e3 Send Memories to Gmail"
        },
        "typeVersion": 1
      },
      {
        "id": "9e8ee085-ec68-4f64-9098-877e166b1c37",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1020,
          -620
        ],
        "parameters": {
          "color": 4,
          "height": 280,
          "content": "## 2\ufe0f\u20e3 Retrieve Memories"
        },
        "typeVersion": 1
      },
      {
        "id": "9c3d6609-cc4a-4bf5-b914-ee57e085cecd",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          440,
          -620
        ],
        "parameters": {
          "color": 3,
          "height": 280,
          "content": "## Short Term Chat Memory"
        },
        "typeVersion": 1
      },
      {
        "id": "97f47b93-c1e1-4230-b84c-3b99aa140d55",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          180,
          -620
        ],
        "parameters": {
          "color": 5,
          "height": 280,
          "content": "## Cloud LLM"
        },
        "typeVersion": 1
      },
      {
        "id": "4758ad55-d5f2-4a87-a05a-be465d803ca1",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          120,
          -1100
        ],
        "parameters": {
          "width": 1740,
          "height": 840,
          "content": "# \ud83e\udde0 AI Agent Chatbot With Long Term Memory Tools"
        },
        "typeVersion": 1
      },
      {
        "id": "eb74a05d-7f34-4ba0-ae98-c22bb3637c6b",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          720,
          -700
        ],
        "parameters": {
          "color": 7,
          "width": 1100,
          "height": 400,
          "content": "## \ud83d\udee0\ufe0f Agentic Long Term Memory Management Tool Options"
        },
        "typeVersion": 1
      },
      {
        "id": "d9d251d2-172b-4a8e-bec3-bf8f297628c6",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          280,
          -980
        ],
        "parameters": {
          "color": 4,
          "width": 300,
          "height": 240,
          "content": "## \ud83d\udc4dTry Me!"
        },
        "typeVersion": 1
      },
      {
        "id": "90554969-0b73-4d4d-87f2-37645b9f7f08",
        "name": "Sticky Note9",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          920,
          -160
        ],
        "parameters": {
          "color": 4,
          "width": 560,
          "height": 280,
          "content": "## 1\ufe0f\u20e3 Save Long Term Memories Tool"
        },
        "typeVersion": 1
      },
      {
        "id": "34cbb84d-48a5-480f-a7c3-81bbef24194a",
        "name": "Sticky Note10",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          920,
          140
        ],
        "parameters": {
          "color": 4,
          "width": 560,
          "height": 280,
          "content": "## 2\ufe0f\u20e3 Retrieve Long Term Memories Tool"
        },
        "typeVersion": 1
      },
      {
        "id": "dc23d68e-0f93-495a-aaa0-e4bb6f18870d",
        "name": "Sticky Note11",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          920,
          440
        ],
        "parameters": {
          "color": 6,
          "width": 840,
          "height": 360,
          "content": "## 3\ufe0f\u20e3 Send Memories to Telegram Tool"
        },
        "typeVersion": 1
      },
      {
        "id": "0ed43ec0-a39c-4323-9851-988e774302d7",
        "name": "Retrieve Long Term Memories2",
        "type": "n8n-nodes-base.googleDocs",
        "position": [
          1020,
          520
        ],
        "parameters": {
          "operation": "get",
          "documentURL": "1YFTbVGlnpdYF5FuA6grfyvzmcdjcPviClAqbJ5HJIlc"
        },
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "YWEHuG28zOt532MQ",
            "name": "Google Docs account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "17d2cef6-765c-4fb4-8af0-1ebc868f6669",
        "name": "Sticky Note12",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          920,
          820
        ],
        "parameters": {
          "color": 6,
          "width": 840,
          "height": 360,
          "content": "## 4\ufe0f\u20e3 Send Memories to Gmail Tool"
        },
        "typeVersion": 1
      },
      {
        "id": "03977fa0-a4cd-4cfe-8967-d6a5e3227200",
        "name": "Sticky Note13",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          540,
          -220
        ],
        "parameters": {
          "color": 2,
          "width": 300,
          "height": 380,
          "content": "## Memory Tool Router"
        },
        "typeVersion": 1
      },
      {
        "id": "994b124c-4f5b-44c6-845e-9886d7b5f07d",
        "name": "Sticky Note14",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          240,
          -220
        ],
        "parameters": {
          "color": 7,
          "width": 260,
          "height": 380,
          "content": "## Receive Memory Tool Instructions from Agent"
        },
        "typeVersion": 1
      },
      {
        "id": "7c400ccf-af37-4b5a-8dfe-431a7d52286b",
        "name": "Sticky Note15",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          880,
          -220
        ],
        "parameters": {
          "color": 7,
          "width": 920,
          "height": 1440,
          "content": "## \ud83d\udee0\ufe0f Long Term Memory Tool Kit"
        },
        "typeVersion": 1
      },
      {
        "id": "0b00f892-f98b-41be-952c-570da546f9f7",
        "name": "Sticky Note16",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          120,
          200
        ],
        "parameters": {
          "width": 720,
          "height": 1300,
          "content": "## Enhance Your AI Workflow with Long-Term Memory and Dynamic Tool Routing\n\n#### This n8n workflow empowers your AI agent with **long-term memory** and a **dynamic tools router**, enabling it to provide intelligent, context-aware responses while seamlessly managing tasks across multiple tools. By combining memory persistence and modular tool routing, this solution enhances the capabilities of your AI agent, making it smarter, more efficient, and highly adaptable.\n\n## \ud83d\ude80 How It Works\n\n#### \ud83e\udde0 Long-Term Memory Management\n- The AI agent can **save** and **retrieve memories** using Google Docs as a storage system.\n- Persistent memory allows the agent to recall past interactions, user preferences, and contextual details for personalized responses.\n\n#### \ud83d\udee0\ufe0f Tools Router for Dynamic Task Management\n- A **tools router** directs tasks to the appropriate tools based on the AI agent's instructions.\n- Supported tools include:\n  - **Save Memories**: Store important data for future reference.\n  - **Retrieve Memories**: Access stored information when needed.\n  - **Send Notifications via Gmail or Telegram**: Share insights or updates with stakeholders.\n\n#### \ud83e\udd16 AI-Powered Contextual Understanding\n- The workflow integrates an OpenAI GPT-based model to process user inputs intelligently.\n- The AI agent uses a **window buffer memory** for short-term context and leverages long-term memory when necessary.\n\n#### \ud83d\udce4 Multi-Channel Notifications\n- Automatically send memory summaries or workflow updates via Gmail or Telegram for enhanced communication.\n\n---\n\n## \ud83d\udd27 Setup Steps\n\n#### \ud83d\udd11 Configure API Credentials\nSet up API connections for:\n- **OpenAI** (for AI processing).\n- **Google Docs** (for long-term memory storage).\n- **Gmail/Telegram** (for notifications).\n\n#### \u2699\ufe0f Customize Workflow Parameters\n- Adjust the AI agent's system message to align with your specific use case or tone.\n- Define routing rules in the tools router to suit your workflow needs.\n\n#### \ud83e\uddea Test & Deploy\n- Test the workflow by interacting with the AI agent and verifying:\n  - Accurate memory saving/retrieval.\n  - Correct task routing via the tools router.\n  - Seamless notification delivery.\n"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "timezone": "America/Vancouver",
      "callerPolicy": "workflowsFromSameOwner",
      "executionOrder": "v1"
    },
    "versionId": "5d92d73f-0341-4ab1-937e-6be387f6ea52",
    "connections": {
      "\ud83e\udde0Save Memories": {
        "ai_tool": [
          [
            {
              "node": "\ud83e\udde0 AI Agent w/Long Term Memory",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Memory Tool Router": {
        "main": [
          [
            {
              "node": "Save Long Term Memories",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Retrieve Long Term Memories",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Retrieve Long Term Memories2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Retrieve Long Term Memories3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Prepare Telegram Message",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "Prepare Gmail Message",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Gmail Message": {
        "main": [
          [
            {
              "node": "Email Workflow Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "\ud83d\udd0eRetrieve Memories": {
        "ai_tool": [
          [
            {
              "node": "\ud83e\udde0 AI Agent w/Long Term Memory",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "\ud83e\udd16OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "\ud83e\udde0 AI Agent w/Long Term Memory",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Save Long Term Memories": {
        "main": [
          [
            {
              "node": "Saved response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Telegram Message": {
        "main": [
          [
            {
              "node": "Send Success Message to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "\ud83e\udd2fWindow Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "\ud83e\udde0 AI Agent w/Long Term Memory",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "\ud83d\udcebSend Memories to Gmail": {
        "ai_tool": [
          [
            {
              "node": "\ud83e\udde0 AI Agent w/Long Term Memory",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve Long Term Memories": {
        "main": [
          [
            {
              "node": "Respond with long term memories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve Long Term Memories2": {
        "main": [
          [
            {
              "node": "Prepare Telegram Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve Long Term Memories3": {
        "main": [
          [
            {
              "node": "Prepare Gmail Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "\ud83d\udce4Send Memories to Telegram": {
        "ai_tool": [
          [
            {
              "node": "\ud83e\udde0 AI Agent w/Long Term Memory",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Memory Tool Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "\u24c2\ufe0f When chat message received": {
        "main": [
          [
            {
              "node": "\ud83e\udde0 AI Agent w/Long Term Memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "metadata": {
      "quality_score": 50,
      "quality_rating": "Basic",
      "architecture_score": 50,
      "error_handling_score": 50,
      "security_score": 50,
      "performance_score": 50,
      "maintainability_score": 50,
      "category": "AI",
      "original_source": "csv_import",
      "csv_score": "8",
      "extracted_at": "2025-09-27T00:30:51.017Z"
    }
  },
  "metadata": {
    "original_file": "C:\\Users\\DELL\\n8n-workflow-scraper\\scraped-workflows\\workflows\\AI\\ai-agent-with-long-term-memory-tools-router-yrzfwo.json",
    "category": "AI",
    "category_confidence": 0.3529108706852138,
    "quality_score": 62.0,
    "quality_tier": "silver",
    "evaluated_at": "2025-10-02T01:53:38.558230",
    "evaluator": "grok-code-fast-1",
    "cost": 0.43964409999999987,
    "nodes_count": 39,
    "batch": 1
  },
  "evaluation": {
    "overall_score": 62.0,
    "confidence": 0.85,
    "quality_tier": "silver",
    "dimensions": {
      "architecture": {
        "score": 70,
        "issues": [
          "Excessive use of sticky notes (16 out of 39 nodes) clutters the workflow and reduces readability.",
          "Vertical architecture is used, but with 39 nodes, it may become unwieldy; consider sub-workflows for modularity.",
          "Connections appear logical but lack clear branching for error paths."
        ],
        "strengths": [
          "Modular design with a router for memory tools.",
          "Clear flow from trigger to agent to output channels (Telegram, Gmail).",
          "Separation of concerns between memory retrieval, saving, and response preparation."
        ],
        "recommendations": [
          "Replace sticky notes with comments in node descriptions or use sub-workflows to group related functionality.",
          "Implement sub-workflows for memory operations to reduce node count and improve organization.",
          "Add visual grouping or labels for better flow visualization."
        ]
      },
      "error_handling": {
        "score": 20,
        "issues": [
          "No error handling nodes (e.g., no 'Error Trigger' or 'Retry' nodes) present in the workflow.",
          "Critical nodes like Google Docs, OpenAI, Telegram, and Gmail lack retry mechanisms or fallback logic.",
          "Potential for silent failures in API calls without error propagation."
        ],
        "strengths": [
          "Workflow has a trigger node, which is a good starting point for handling executions."
        ],
        "recommendations": [
          "Add 'Error Trigger' nodes after API-dependent nodes (e.g., Google Docs, OpenAI) to catch and log errors.",
          "Implement retry logic using 'Wait' or 'Retry' nodes for failed operations.",
          "Use 'Switch' nodes to route errors to notification channels like Telegram or Gmail."
        ]
      },
      "security": {
        "score": 50,
        "issues": [
          "Credentials for Google Docs, OpenAI, Telegram, and Gmail are assumed configured, but no validation of inputs or outputs.",
          "No mention of input sanitization, risking injection attacks in prompts or messages.",
          "Potential exposure of sensitive data in logs or responses if not handled securely."
        ],
        "strengths": [
          "Uses established services with built-in security (e.g., OAuth for Google, API keys for OpenAI).",
          "Workflow isolates memory operations, reducing broad access risks."
        ],
        "recommendations": [
          "Add input validation nodes (e.g., 'Function' node) to sanitize user inputs before passing to AI models.",
          "Ensure credentials are stored securely in N8N's credential manager and rotated regularly.",
          "Implement rate limiting or throttling for API calls to prevent abuse."
        ]
      },
      "performance": {
        "score": 60,
        "issues": [
          "Multiple Google Docs nodes for memory operations may lead to slow performance due to API latency.",
          "No caching mechanisms for retrieved memories, causing redundant API calls.",
          "Chain LLM nodes and multiple OpenAI models could incur high costs and delays without optimization."
        ],
        "strengths": [
          "Window Buffer Memory node helps manage short-term context efficiently.",
          "Asynchronous nature of N8N allows parallel processing where possible."
        ],
        "recommendations": [
          "Implement caching using 'Cache' nodes or external storage for frequently accessed memories.",
          "Optimize Google Docs operations by batching reads/writes or using more efficient storage like databases.",
          "Profile and limit concurrent executions to avoid overloading APIs."
        ]
      },
      "maintainability": {
        "score": 75,
        "issues": [
          "Many sticky notes are used for documentation, which is not ideal for version control or sharing.",
          "Node names are mostly descriptive, but some duplicates (e.g., multiple 'Retrieve Long Term Memories' nodes) could confuse.",
          "Parameters are not detailed, assuming standard configs, but lack of comments in nodes."
        ],
        "strengths": [
          "Descriptive node names like '\ud83e\udde0 AI Agent w/Long Term Memory' and tool names enhance readability.",
          "Workflow is structured with clear sections (trigger, agent, tools, outputs)."
        ],
        "recommendations": [
          "Consolidate documentation into node descriptions or a separate README file instead of sticky notes.",
          "Rename duplicate nodes with unique identifiers (e.g., 'Retrieve Long Term Memories - User Query').",
          "Add comments in 'Function' or 'Set' nodes to explain complex logic."
        ]
      },
      "best_practices": {
        "score": 65,
        "issues": [
          "Sticky notes are overused; best practice is to minimize non-functional nodes.",
          "No use of 'Wait' nodes for pacing API calls, potentially violating rate limits.",
          "Tool Workflow nodes are used, but their configurations aren't specified for best practices like timeout settings."
        ],
        "strengths": [
          "Proper use of Langchain nodes for AI agent and memory management.",
          "Router node effectively switches based on tool needs."
        ],
        "recommendations": [
          "Remove unnecessary sticky notes and use N8N's built-in commenting features.",
          "Add 'Wait' nodes between API calls to respect rate limits (e.g., OpenAI's limits).",
          "Configure timeouts and error thresholds in API nodes to follow service best practices."
        ]
      },
      "scalability": {
        "score": 55,
        "issues": [
          "Reliance on Google Docs for long-term memory may not scale well with high volumes due to API limits and latency.",
          "No load balancing or queuing for multiple concurrent chats.",
          "Vertical architecture with 39 nodes may struggle with increased complexity or user load."
        ],
        "strengths": [
          "Modular tools allow for easy addition of new memory sources.",
          "N8N's execution model supports horizontal scaling via multiple instances."
        ],
        "recommendations": [
          "Migrate memory storage to a scalable database (e.g., PostgreSQL via N8N nodes) instead of Google Docs.",
          "Implement queuing with 'Queue' nodes for handling multiple requests.",
          "Consider sub-workflows for parallel processing of memory operations."
        ]
      },
      "innovation": {
        "score": 80,
        "issues": [
          "While innovative, the use of Google Docs for memory is unconventional and may not be the most efficient.",
          "No novel integrations beyond standard Langchain and N8N nodes."
        ],
        "strengths": [
          "Creative integration of AI agent with long-term memory tools using Langchain.",
          "Multi-channel output (Telegram, Gmail) for responses adds versatility.",
          "Router-based tool selection demonstrates adaptive workflow design."
        ],
        "recommendations": [
          "Explore advanced memory techniques like vector databases (e.g., Pinecone) for better retrieval.",
          "Incorporate more AI-driven decision-making in the router for dynamic tool selection.",
          "Experiment with custom nodes for proprietary memory algorithms."
        ]
      }
    },
    "auto_fix_suggestions": [
      {
        "type": "error_handling",
        "priority": "high",
        "description": "Add error handling after Google Docs nodes to catch API failures.",
        "node_id": "Save Long Term Memories",
        "fix_details": {
          "action": "Insert 'Error Trigger' node connected to output, with retry logic."
        }
      },
      {
        "type": "architecture",
        "priority": "medium",
        "description": "Remove excessive sticky notes to declutter the workflow.",
        "node_id": "Sticky Note",
        "fix_details": {
          "action": "Delete non-essential sticky notes and move content to node descriptions."
        }
      },
      {
        "type": "performance",
        "priority": "medium",
        "description": "Add caching for memory retrieval to reduce API calls.",
        "node_id": "Retrieve Long Term Memories",
        "fix_details": {
          "action": "Insert 'Cache' node before Google Docs read operations."
        }
      },
      {
        "type": "security",
        "priority": "critical",
        "description": "Validate inputs before sending to OpenAI to prevent prompt injection.",
        "node_id": "\ud83e\udd16OpenAI Chat Model",
        "fix_details": {
          "action": "Add 'Function' node for input sanitization using regex or libraries."
        }
      },
      {
        "type": "scalability",
        "priority": "high",
        "description": "Replace Google Docs with a database for scalable memory storage.",
        "node_id": "Save Long Term Memories",
        "fix_details": {
          "action": "Replace with 'PostgreSQL' or similar node for CRUD operations."
        }
      }
    ],
    "migration_recommendation": "improve_then_migrate",
    "estimated_improvement_time": "4-6 hours"
  }
}